In [2]:
import pandas as pd
import seaborn as sns

In [4]:
# df=pd.read_csv(r"C:\Users\HP\Downloads\data.csv",index_col='Patient ID')
df=pd.read_csv(r'Electric_Vehicle_Population_Data.csv')
df.head(1)

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
0,5YJXCAE26J,Yakima,Yakima,WA,98908.0,2018,TESLA,MODEL X,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,238,0,14.0,141151601,POINT (-120.56916 46.58514),PACIFICORP,5.307700e+10

In [5]:
df.shape

(130443, 17)

In [6]:
df.isna().sum()

VIN (1-10)                                             0
County                                                 3
City                                                   3
State                                                  0
Postal Code                                            3
Model Year                                             0
Make                                                   0
Model                                                222
Electric Vehicle Type                                  0
Clean Alternative Fuel Vehicle (CAFV) Eligibility      0
Electric Range                                         0
Base MSRP                                              0
Legislative District                                 305
DOL Vehicle ID                                         0
Vehicle Location                                      33
Electric Utility                                       3
2020 Census Tract                                      3
dtype: int64

In [23]:
df.drop(columns=['VIN (1-10)'],inplace=True)

In [31]:
df.rename(columns={'Electric Vehicle Type':'EV Type','Clean Alternative Fuel Vehicle (CAFV) Eligibility':'CAFV Eligibility'},inplace=True)

1. Cars and their types that do not qualify for clean alternative fuel vehicle

In [74]:
not_eligible_cafv=df[df['CAFV Eligibility']=='Not eligible due to low battery range']

In [78]:
not_eligible_cafv[['Make','Model']]

          Make        Model
6         FORD       FUSION
7         AUDI         Q5 E
8         FORD        C-MAX
14        FORD        C-MAX
15         KIA         NIRO
...        ...          ...
130377     BMW         530E
130385    AUDI           A3
130390    JEEP     WRANGLER
130407  TOYOTA  PRIUS PRIME
130437     BMW         530E

[16446 rows x 2 columns]

2. TESLA cars with the model year, and model type made in Bothell City.

In [54]:
tesla_cars_in_bothell_city=df[df['Make']=='TESLA'][df[df['Make']=='TESLA']['City']=='Bothell']
tesla_cars_in_bothell_city[['Model','Model Year']]

          Model  Model Year
39      MODEL 3        2020
217     MODEL 3        2022
218     MODEL Y        2022
222     MODEL 3        2018
292     MODEL X        2017
...         ...         ...
129778  MODEL 3        2019
129954  MODEL 3        2021
129976  MODEL S        2014
130295  MODEL 3        2022
130392  MODEL 3        2018

[2407 rows x 2 columns]

3. Cars that have an electric range of more than 100, and were made after 2015

In [62]:
er_more_than_100_model_year_after2015=df[df['Electric Range']>100][df[df['Electric Range']>100]['Model Year']>2015]
er_more_than_100_model_year_after2015['Make']

0          TESLA
2          TESLA
4          TESLA
12         TESLA
13         TESLA
           ...
130417     TESLA
130428    NISSAN
130432     TESLA
130436     TESLA
130441     TESLA
Name: Make, Length: 34066, dtype: object

4. Distribution between city and electric vehicle type

In [63]:
df[['City','EV Type']]

                 City                                 EV Type
0              Yakima          Battery Electric Vehicle (BEV)
1             Poulsbo  Plug-in Hybrid Electric Vehicle (PHEV)
2             Seattle          Battery Electric Vehicle (BEV)
3             Seattle          Battery Electric Vehicle (BEV)
4               Lacey          Battery Electric Vehicle (BEV)
...               ...                                     ...
130438     Gig Harbor          Battery Electric Vehicle (BEV)
130439         Tacoma          Battery Electric Vehicle (BEV)
130440        Seattle          Battery Electric Vehicle (BEV)
130441  Camano Island          Battery Electric Vehicle (BEV)
130442       Puyallup          Battery Electric Vehicle (BEV)

[130443 rows x 2 columns]