In [141]:
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

In [142]:
df=pd.read_csv('online_shoppers_intention.csv')
df.head()

,Administrative,Administrative_Duration,Informational,Informational_Duration,ProductRelated,ProductRelated_Duration,BounceRates,ExitRates,PageValues,SpecialDay,Month,OperatingSystems,Browser,Region,TrafficType,VisitorType,Weekend,Revenue
0,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,Feb,1,1,1,1,Returning_Visitor,False,False
1,0,0.0,0,0.0,2,64.000000,0.00,0.10,0.0,0.0,Feb,2,2,1,2,Returning_Visitor,False,False
2,0,0.0,0,0.0,1,0.000000,0.20,0.20,0.0,0.0,Feb,4,1,9,3,Returning_Visitor,False,False
3,0,0.0,0,0.0,2,2.666667,0.05,0.14,0.0,0.0,Feb,3,2,2,4,Returning_Visitor,False,False
4,0,0.0,0,0.0,10,627.500000,0.02,0.05,0.0,0.0,Feb,3,3,1,4,Returning_Visitor,True,False

In [143]:
#Checking for null values
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12330 entries, 0 to 12329
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Administrative           12330 non-null  int64
 1   Administrative_Duration  12330 non-null  float64
 2   Informational            12330 non-null  int64
 3   Informational_Duration   12330 non-null  float64
 4   ProductRelated           12330 non-null  int64
 5   ProductRelated_Duration  12330 non-null  float64
 6   BounceRates              12330 non-null  float64
 7   ExitRates                12330 non-null  float64
 8   PageValues               12330 non-null  float64
 9   SpecialDay               12330 non-null  float64
 10  Month                    12330 non-null  object
 11  OperatingSystems         12330 non-null  int64
 12  Browser                  12330 non-null  int64
 13  Region                   12330 non-null  int64
 14  TrafficType              12330 non-null  int64
 15  VisitorType              12330 non-null  object
 16  Weekend                  12330 non-null  bool
 17  Revenue                  12330 non-null  bool
dtypes: bool(2), float64(7), int64(7), object(2)
memory usage: 1.5+ MB

In [144]:
#Checking fot categorical columns
df.select_dtypes('object').columns

Index(['Month', 'VisitorType'], dtype='object')

In [145]:
# Converting categorical columns to numeric
import category_encoders as ce
target_encoder=ce.TargetEncoder(cols='Month')
df['Month']=target_encoder.fit_transform(df['Month'],df['Revenue'])

In [146]:
df['VisitorType'].replace({'Other':1,'New_Visitor':2,'Returning_Visitor':3},inplace=True)

In [147]:
#Splitting data into Independent and dependent variable
X=df.drop(columns=['Weekend','Revenue'])
y = df[['Revenue','Weekend']]

In [151]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import MinMaxScaler
from sklearn.multioutput import MultiOutputClassifier

In [153]:
#Transforming the X data
scaler=MinMaxScaler()
X_scaled=scaler.fit_transform(X)
X = pd.DataFrame(X_scaled,columns=X.columns)
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.33)

In [161]:
models={'Decision Tree':DecisionTreeClassifier(),
        'Logistic Regression':LogisticRegression(),
        'Random Forest':RandomForestClassifier(),
        'Decision Tree Classifier':DecisionTreeClassifier()
}

In [157]:
def model_training(X_train,y_train,X_test,y_test,multioutput):
    multioutput.fit(X_train,y_train)
    y_pred=multioutput.predict(X_test)
    score=accuracy_score(y_test,y_pred)
    return score*100

In [162]:
for model in models:
    multioutput = MultiOutputClassifier(models[model])
    score=model_training(X_train,y_train,X_test,y_test,multioutput)
    print(f'Accuracy for {model} ==> {score}')
    print('='*100)

Accuracy for Decision Tree ==> 57.45883509461785
====================================================================================================
Accuracy for Logistic Regression ==> 67.26468419759155
====================================================================================================
Accuracy for Random Forest ==> 70.0172032440403
====================================================================================================
Accuracy for Decision Tree Classifier ==> 57.532563283362
====================================================================================================