In [169]:
# importing libraries
import pandas as pd

In [170]:
#Reading the data
df=pd.read_json('https://data.nasa.gov/resource/y77d-th95.json')
df.head(1)

,name,id,nametype,recclass,mass,fall,year,reclat,reclong,geolocation,:@computed_region_cbhk_fwbd,:@computed_region_nnqa_25f4
0,Aachen,1,Valid,L5,21.0,Fell,1880-01-01T00:00:00.000,50.775,6.08333,"{'type': 'Point', 'coordinates': [6.08333, 50....",NaN,NaN

In [171]:
#Checking for the null values
df.isnull().sum()

name                             0
id                               0
nametype                         0
recclass                         0
mass                            28
fall                             0
year                             1
reclat                          12
reclong                         12
geolocation                     12
:@computed_region_cbhk_fwbd    867
:@computed_region_nnqa_25f4    866
dtype: int64

In [172]:
#Dropping the columns with majority null values
df.drop(columns=[':@computed_region_cbhk_fwbd',':@computed_region_nnqa_25f4'],axis=1,inplace=True)

In [173]:
#Extracting coordinates from the geological column
crd_1 = []
crd_2 = []
for dict_ in df['geolocation']:
    if type(dict_)==dict:
        crd_1.append(dict_['coordinates'][0])
        crd_2.append(dict_['coordinates'][1])
    else:
        crd_1.append(dict_)
        crd_2.append(dict_)

df['coordinate_1'] = crd_1
df['coordinate_2'] = crd_2

In [174]:
df.drop(columns=['geolocation'],axis=1,inplace=True)

In [175]:
df.nametype.value_counts()
df.fall.value_counts()

Fell     996
Found      4
Name: fall, dtype: int64

In [176]:
#As the nametype column has only 1 feature and the fall column also has highly imbalanced data (around 96%) so we can drop both column
df.drop(columns=['nametype','fall'],axis=1,inplace=True)

In [177]:
#converting the year column into year format
df['year']=df['year'].apply(lambda x:str(x)[:10])

In [186]:
df['year']=pd.to_datetime(df['year'],errors='ignore')

In [180]:
df['mass'].fillna(df['mass'].median(),inplace=True)
df['reclat'].fillna(df['reclat'].median(),inplace=True)
df['reclong'].fillna(df['reclong'].median(),inplace=True)
df['coordinate_1'].fillna(df['coordinate_1'].median(),inplace=True)
df['coordinate_2'].fillna(df['coordinate_2'].median(),inplace=True)

In [181]:
df.select_dtypes(float).isnull().sum()

mass            0
reclat          0
reclong         0
coordinate_1    0
coordinate_2    0
dtype: int64

In [187]:
df

,name,id,recclass,mass,year,reclat,reclong,coordinate_1,coordinate_2
0,Aachen,1,L5,21.0,1880-01-01,50.77500,6.08333,6.08333,50.77500
1,Aarhus,2,H6,720.0,1951-01-01,56.18333,10.23333,10.23333,56.18333
2,Abee,6,EH4,107000.0,1952-01-01,54.21667,-113.00000,-113.00000,54.21667
3,Acapulco,10,Acapulcoite,1914.0,1976-01-01,16.88333,-99.90000,-99.90000,16.88333
4,Achiras,370,L6,780.0,1902-01-01,-33.16667,-64.95000,-64.95000,-33.16667
...,...,...,...,...,...,...,...,...,...
995,Tirupati,24009,H6,230.0,1934-01-01,13.63333,79.41667,79.41667,13.63333
996,Tissint,54823,Martian (shergottite),7000.0,2011-01-01,29.48195,-7.61123,-7.61123,29.48195
997,Tjabe,24011,H6,20000.0,1869-01-01,-7.08333,111.53333,111.53333,-7.08333
998,Tjerebon,24012,L5,16500.0,1922-01-01,-6.66667,106.58333,106.58333,-6.66667
999,Tomakovka,24019,LL6,600.0,1905-01-01,47.85000,34.76667,34.76667,47.85000